<meta charset="utf-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <header class="container">
    <div class="row">
      <h1 class="col-sm-4">Skillfair</h1>
      <nav class="col-sm-8 text-right">
        <p>newest</p>
        <p>catalogue</p>
        <p>contact</p>
      </nav>
      <button>Enter</button>
    </div>
  </header>
  <section class="jumbotron">
    <div class="container">
      <div class="row text-center">
     <h2>Homemade Goods</h2>
      <h3>This Year's Best</h3>
        <a class="btn btn-primary" href="#" role="button">See all
        </a>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
       <figure class="col-sm-6">
         <p>kichen</p>
         <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/kitchen.jpg">
      </figure>
       <figure class="col-sm-6">
         <p>woodwork</p>
         <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/woodwork.jpg">
      </figure>
    </div>
    <div class="row">
      <figure class="col-sm-6">
        <p>gifts</p>
        <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/gifts.jpg">
      </figure>
      <figure class="col-sm-6">
         <p>antiques</p>
        <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/antique.jpg">
      </figure>
       </div>
  </section>
  <footer class="container">
    <div class="row">

      <ul class="col-sm-8">
         <li class="col-sm-1"> <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/twitter.svg"></li>
         <li class="col-sm-1"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/facebook.svg">
</li>
         <li class="col-sm-1"> <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/instagram.svg"></li>
         <li class="col-sm-1"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/medium.svg"></li>
      </ul>
    </div>
</footer>



</body>
</html>