<!doctype html>
<!--<html lang="en" ng-app="myApp"></!-->
    <html ng-app="todoApp">
<head>
  <meta charset="UTF-8">
  <title>Todo list</title>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <!--<script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular/angular-route.min.js"></script> </!-->
  <script src="js/todo.js"></script>
  <link rel="stylesheet" href="css/todo.css">
 <link rel="stylesheet" href="css/style.css"> 
</head>
<body>
<div class="main" ng-view></div>
<h1 align = "center"> Worklist</h1>

     
     <h2 >Todo</h2>
    <div align="center" ng-controller="TodoListController as todoList">
      <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
      [ <a href="" ng-click="todoList.archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
          <label class="checkbox">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
          </label>
        </li>
      </ul>
      <form ng-submit="todoList.addTodo()">
        <input type="text" ng-model="todoList.todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div>
     
</body>
</html>