@charset "utf-8";
/* CSS Document */
.Otsikko {
	align: center;	
}

#paaOtsikko {
	background-color:#FF0047;
	padding-bottom:30px;
}

#Kysymys {
	background-color:#8CBCF5;
	padding-bottom:30px;
}

#tekstiKentta {
	width:300px;

}

form {
	background-color:#3CF027;
	padding-top:30px;
}


h1 {
    color: black;
    text-align: center;
	margin-top:0;
	margin-bottom:0;
}

h2 {
    color: black;
    text-align: center;
	margin-top:0;
	margin-bottom:0;
}

p {
    color: black;
	margin-top:0;
	margin-bottom:0;
}
