@charset "UTF-8";
/* Lisäykset */
.SPACER{
	width: 100%;
	height: 100%;
}

.esittely-ikonit{
	/* color: #FFCE00!important; */

}

.main-text{
	font-size: 23px;
	font-weight: 300;
	font-family: Hind, sans-serif;
	color: white;
	line-height: 1.2;
	margin-bottom: 8px;
}

.button-text{
	font-size: 23px;
	font-weight: 300;
	font-family: Hind, sans-serif;
	color: black;
	line-height: 1.2;
	margin-bottom: 8px;
}

label, input[type=text], [type=password], select {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -box-sizing: border-box;
    margin-bottom: 0.6em;    
}
label {
    width: 20%;
    text-align: right;
    margin: 0 15% 0 0;
}
input[type=text], [type=password] {
    width: 45%;
}

#tietoaNappi{
  background: #b3b3b3;
  background-image: -webkit-linear-gradient(top, #b3b3b3, #6b6b6b);
  background-image: -moz-linear-gradient(top, #b3b3b3, #6b6b6b);
  background-image: -ms-linear-gradient(top, #b3b3b3, #6b6b6b);
  background-image: -o-linear-gradient(top, #b3b3b3, #6b6b6b);
  background-image: linear-gradient(to bottom, #b3b3b3, #6b6b6b);
  border-width: 0px;
  border-radius: 25px;
  color: #ffffff;
  font-family:  Hind, sans-serif;
  font-size: 31px;
  padding: 16px 24px;
  text-shadow: 2px 2px 6px #666666;
  text-decoration: none;
  margin-top: 32px;
}

#tietoaNappi:hover {
  background: #7d7c7d;
  background-image: -webkit-linear-gradient(top, #7d7c7d, #4f4f4f);
  background-image: -moz-linear-gradient(top, #7d7c7d, #4f4f4f);
  background-image: -ms-linear-gradient(top, #7d7c7d, #4f4f4f);
  background-image: -o-linear-gradient(top, #7d7c7d, #4f4f4f);
  background-image: linear-gradient(to bottom, #7d7c7d, #4f4f4f);
  text-decoration: none;
} 


#paketit{
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 35px;
}

.paketti{
	margin-top: 25px;
}
.paketti > h2 {
	font-size: 30px;
}

.tausta1 {
	background-color:#355C7D;
}

.tausta2 {
	background-color:#aeb1c3;
}

.tausta3 {
	background-color:#888ba1;
}
#lomake {
	height: 800px;
}
/*---KUVAT---*/

#esittelykuva1{
	background: url(../img/kalenteri.jpg) no-repeat;
	background-size: cover;
	height: 380px;
	margin: 0 0;
	
}
#esittelykuva2{
	background: url(../img/kakki.jpg) no-repeat;
	background-size: cover;
	height: 380px;
	margin: 0 0;
}
	
#esittelykuva3{
	background: url(../img/luottamus.jpg) no-repeat;
	background-size: cover;
	height: 380px;
	margin: 0 0;
}

#helpperikuva1{
	background: url(../img/helpperi1.jpg) no-repeat;
	background-size: cover;
	height: 420px;
	margin: 0 0;
}

#helpperikuva2{
	background: url(../img/helpperi2.jpg) no-repeat;
	background-size: cover;
	height: 420px;
	margin: 0 0;
}

#helpperikuva3{
	background: url(../img/helpperi3.jpg) no-repeat;
	background-size: cover;
	height: 420px;
	margin: 0 0;
}

#helpperikuva4{
	background: url(../img/helpperi4.jpg) no-repeat;
	background-size: cover;
	height: 420px;
	margin: 0 0;
}

#helpperikuva5{
	background: url(../img/helpperi5.jpg) no-repeat;
	background-size: cover;
	height: 420px;
	margin: 0 0;
}

#helpperikuva6{
	background: url(../img/helpperi6.jpg) no-repeat;
	background-size: cover;
	height: 420px;
	margin: 0 0;
}

#helpperikuva7{
	background: url(../img/helpperi7.jpg) no-repeat;
	background-size: cover;
	height: 420px;
	margin: 0 0;
}

#helpperikuva8{
	background: url(../img/helpperi8.jpg) no-repeat;
	background-size: cover;
	height: 420px;
	margin: 0 0;
}

#helpperikuva9{
	background: url(../img/helpperi9.jpg) no-repeat;
	background-size: cover;
	height: 420px;
	margin: 0 0;
}

#helpperikuva10{
	background: url(../img/helpperi10.jpg) no-repeat;
	background-size: cover;
	height: 420px;
	margin: 0 0;
}

/*-----END KUVAT-----*/


html {
  overflow-x: hidden;
}

html, html a, body {
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  font-family: Hind, sans-serif;
  overflow-x: hidden;	
 }

p {
  font-size: 15px;
  font-weight: 400;
  font-family: Hind, sans-serif;
  color: #ffffff;
  line-height: 1.4;
  margin-bottom: 15px;
}
  
em,
li,
li a {
  font-size: 16px;
  font-weight: 500;
  font-family: Hind, sans-serif;
  color: white;
}

a {
  font-family: Hind, sans-serif;
  color: white;
  outline: 0;
}

a:focus, a:hover, a:active {
  outline: 0;
  color: #999caa;
  text-decoration: none;
}

.link {
  position: relative;
  font-size: 13px;
  font-weight: 600;
  font-family: Hind, sans-serif;
  text-transform: uppercase;
}

.link:after {
  position: absolute;
  top: 8px;
  right: -15px;
  width: 9px;
  height: 2px;
  background: #17bed2;
  content: " ";
}

span {
  font-size: 14px;
  font-weight: 400;
  font-family: Hind, sans-serif;
  color: #bfc1c7;
}

h1{
  font-weight: 700;
  font-family: Hind, sans-serif;
  line-height: 1.4;
  margin: 0 0 15px;
  font-size: 40px;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: #515769;
}

h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
  color: #999caa;
  text-decoration: none;
}

h1 > a:focus, h2 > a:focus, h3 > a:focus, h4 > a:focus, h5 > a:focus, h6 > a:focus {
  text-decoration: none;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 22px;
}

.otsikko {
font-weight: 700;
  font-family: Hind, sans-serif;
  line-height: 1.4;
  margin: 0 0 15px;
  font-size: 25px;
  color: #FFCE00;	
}

h1-helpperi{
  font-weight: 700;
  font-family: Hind, sans-serif;
  line-height: 1.4;
  margin: 0 0 15px;
  font-size: 40px;
  color: black;
}

h1-main{
  font-weight: 700;
  font-family: Hind, sans-serif;
  line-height: 1.4;
  margin: 0 0 15px;
  font-size: 40px;
  color: #FFCE00;
}
	.fa{
		color: white;
		
	}
::selection {
  color: #fff;
  background: #17bed2;
  text-shadow: none;
}

::-webkit-selection {
  color: #fff;
  background: #17bed2;
  text-shadow: none;
}

::-moz-selection {
  color: #fff;
  background: #17bed2;
  text-shadow: none;
}

:active,
:focus {
  outline: none;
}

/* Section Seperator */
.section-seperator {
  border-bottom: 1px solid #edf0f2;
}

/* Content Wrapper Link */
.content-wrapper-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 3;
  text-decoration: none;
}

/*------------------------------------------------------------------
  	[Promo]
------------------------------------------------------------------*/
.promo-block {
  position: relative;
  z-index: 1;
  text-align: center;
  background: url(../img/hands2.png) no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 250px 0 500px;
}

.promo-block-helpperi {
  position: relative;
  z-index: 1;
  text-align: center;
  background: url(../img/helpperibanner.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 250px 0 500px;
}

.promo-block:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(81, 87, 105, 0.4);
  content: " ";
}

.promo-block-helpperi:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(81, 87, 105, 0.4);
  content: " ";
}

.promo-block-title {
  font-size: 60px;
  color: #fff;
}

 .promo-block-text {
	  font-size: 35px;
	  color: #ffffff;
	}

@media (max-width: 480px) {
	
	.tuurausvaihtoehdot {
		margin-top:  52px!important;
	}
	
	.esimerkkitekstikenttä{
		margin-top: 62px!important;
	}
	
	#ukk {
		padding-top:50px;
	}
	
	#yhteystiedot.content-lg {
		padding-top:50px;
		padding-bottom:50px;
}
.promo-block-title {
    font-size: 40px;
	color: #fff;
	}
.promo-block-text {
	  font-size: 25px;
	  color: #fff;
	}
	.promo-block {
	  /*background: #ffffff!important;
	  background-color: #ffffff!important;*/
	  padding-top: 160px !important; 
	  padding-bottom: 160px !important; 
	}
	
	  .promo-block-helpperi .promo-block-title {
    font-size: 40px;
	color: #fff;
	}
	.promo-block-helpperi .promo-block-text {
	  font-size: 25px;
	  color: #fff;
	}
	.promo-block-helpperi {
	  /*background: #ffffff!important;
	  background-color: #ffffff!important;*/
	  padding-top: 160px !important; 
	  padding-bottom: 160px !important; 
	}

	#esittelykuva1{
	display:none;
	
}
#esittelykuva2{
	display:none;
}
	
#esittelykuva3{
	display:none;
}
#helpperikuva1{
	display:none;
	
}
#helpperikuva2{
	display:none;
	
}
#helpperikuva3{
	display:none;
	
}
#helpperikuva4{
	display:none;
	
}
#helpperikuva4{
	display:none;
	
}
#helpperikuva5{
	display:none;
}

#helpperikuva6{
	display:none;
}

#helpperikuva7{
	display:none;
}

#helpperikuva8{
	display:none;
}

#helpperikuva9{
	display:none;
}

#helpperikuva10{
	display:none;
}

#mobiilineuvo1 {
	text-align:center;
	/*background: url(../img/helpperi1.jpg) no-repeat;*/
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../img/helpperi1.jpg);
	padding-top:20px;	
	padding-bottom:30px;
	background-size: cover;
	height:100%;
}

#mobiilineuvo2 {
	text-align:center;	
	/*background: url(../img/helpperi1.jpg) no-repeat;*/
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../img/helpperi2.jpg);
	padding-top:20px;	
	padding-bottom:30px;
	background-size: cover;
	height:100%;
}

#mobiilineuvo3 {
	text-align:center;	
	/*background: url(../img/helpperi1.jpg) no-repeat;*/
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../img/helpperi3.jpg);
	padding-top:20px;	
	background-size: cover;
	height:100%;
}

#mobiilineuvo4 {
	text-align:center;	
	/*background: url(../img/helpperi1.jpg) no-repeat;*/
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../img/helpperi4.jpg);
	padding-top:20px;	
	padding-bottom:30px;
	background-size: cover;
	height:100%;
}

#mobiilineuvo5 {
	text-align:center;	
	/*background: url(../img/helpperi1.jpg) no-repeat;*/
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../img/helpperi5.jpg);
	padding-top:20px;
	padding-bottom:40px;	
	background-size: cover;
	height:100%;
}

#mobiilineuvo6 {
	text-align:center;	
	/*background: url(../img/helpperi1.jpg) no-repeat;*/
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../img/helpperi6.jpg);
	padding-top:20px;
	padding-bottom:40px;	
	background-size: cover;
	height:100%;
}

#mobiilineuvo7 {
	text-align:center;	
	/*background: url(../img/helpperi1.jpg) no-repeat;*/
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../img/helpperi7.jpg);
	padding-top:20px;
	padding-bottom:40px;	
	background-size: cover;
	height:100%;
}

#mobiilineuvo8 {
	text-align:center;	
	/*background: url(../img/helpperi1.jpg) no-repeat;*/
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../img/helpperi8.jpg);
	padding-top:20px;
	padding-bottom:40px;	
	background-size: cover;
	height:100%;
}

#mobiilineuvo9 {
	text-align:center;	
	/*background: url(../img/helpperi1.jpg) no-repeat;*/
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../img/helpperi9.jpg);
	padding-top:20px;
	padding-bottom:40px;	
	background-size: cover;
	height:100%;
}

#mobiilineuvo10 {
	text-align:center;	

	/*background: url(../img/helpperi1.jpg) no-repeat;*/
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../img/helpperi10.jpg);
	padding-top:20px;
	padding-bottom:40px;	
	background-size: cover;
	height:100%;
}
}

/*------------------------------------------------------------------
  	[Palvelu]
------------------------------------------------------------------*/
#palvelu{
	
}

.palvelu-text{
	font-size: 23px;
	font-weight: 300;
	font-family: Hind, sans-serif;
	color: white;
	line-height: 1.2;
	margin-bottom: 8px;
}

.palveluikonit{
	margin: 3% 0;
	text-align:center;
}

#vaihtoehtoTeksti {
	color: #FFCE00;
	font-weight: 700;
  font-family: Hind, sans-serif;
  line-height: 1;
  margin: 0 0 12% 0;
  font-size: 28px;
}

.esimerkkitekstikenttä {
		margin-bottom: 5%; 
}

/*------------------------------------------------------------------
  	[Footer]
------------------------------------------------------------------*/
.footer{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aaaaaa+0,dbdbdb+0,9e9e9e+100 */
background: #aaaaaa; /* Old browsers */
background: -moz-linear-gradient(top, #aaaaaa 0%, #dbdbdb 0%, #9e9e9e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #aaaaaa 0%,#dbdbdb 0%,#9e9e9e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #aaaaaa 0%,#dbdbdb 0%,#9e9e9e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#9e9e9e',GradientType=0 ); /* IE6-9 */
	
}


/*------------------------------------------------------------------
  	[Header]
------------------------------------------------------------------*/
/* Fixed Top */
.navbar-fixed-top .navbar-collapse {
  max-height: 100%;
}

/* Navbar */
.header .navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* Navbar Toggle */
.header .navbar-toggle {
  border: none;
  padding: 0;
  margin: 10px 0;
  top: 3px;
}

.header .navbar-toggle .toggle-icon {
  position: relative;
  width: 21px;
  height: 1px;
  display: inline-block;
  background: #515769;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle .toggle-icon:before, .header .navbar-toggle .toggle-icon:after {
  position: absolute;
  left: 0;
  background: #515769;
  content: " ";
}

.header .navbar-toggle .toggle-icon:before {
  width: 10px;
  height: 1px;
  bottom: 10px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle .toggle-icon:after {
  width: 16px;
  height: 1px;
  top: -5px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle:hover .toggle-icon {
  background: #17bed2;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle:hover .toggle-icon:before, .header .navbar-toggle:hover .toggle-icon:after {
  width: 21px;
  height: 1px;
  background: #17bed2;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle:hover .toggle-icon.is-clicked {
  background: rgba(81, 87, 105, 0);
}

/* Navbar Logo */
.header .logo {
	height:0;
	float: left;
	max-height: 55px;
	line-height: 65px;
}

.header .logo-wrap {
  display: inline-block;
  padding: 15px 0;
}

.header .logo-wrap:focus, .header .logo-wrap:hover {
  text-decoration: none;
}

.header .logo-img-main {
  display: inline-block;
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .logo-img-active {
  display: none;
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* Navbar */
.header .navbar-nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/* Nav */
.header .nav-item {
  position: relative;
  display: block;
}

.header .nav-item:last-child .nav-item-child {
  padding-right: 0;
}

.header .nav-item.active .nav-item-hover:after {
  opacity: 1;
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .nav-item:hover .nav-item-hover:after {
  opacity: 1;
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .nav-item-child {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 600;
  font-family: Hind, sans-serif;
  color: #fff;
  text-transform: uppercase;
  line-height: 55px;
  padding: 12px 16px;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .nav-item-helpperi {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 600;
  font-family: Hind, sans-serif;
  color: #000000;
  text-transform: uppercase;
  line-height: 55px;
  padding: 12px 16px;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .nav-item-child:hover, .header .nav-item-child:focus {
  background: inherit;
}

.header .nav-item-helpperi:hover, .nav-item-helpperi:focus {
  background: inherit;
}

.header .nav-item-hover {
  position: relative;
}

.header .nav-item-hover:after {
  position: absolute;
  top: 38px;
  left: 0;
  width: 9px;
  height: 2px;
  background: #17bed2;
  opacity: 0;
  content: " ";
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* Media Queries below 991px */
@media (max-width: 991px) {
  /* Bootstrap collapse of navigation with a maximum width: 991px
    (Change it to any breakpoint you want to be collapsed) */	
	
	li {
		
	}
  .header {
    background: #fff;
	box-shadow:  2px 2px 6px #666666;
  }
  .header .navbar-toggle {
    display: block;
  }
  .header .navbar-collapse.collapse {
    display: none !important;
  }
  .header .navbar-collapse.collapse.in {
    display: block !important;
  }
  .header .nav-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .header .navbar-nav {
    margin: 0;
    float: none;
  }
  .header .navbar-nav .nav-item {
    float: none;
  }
  /* Menu Container */
  .header .menu-container:before, .header .menu-container:after {
    content: " ";
    display: table;
  }
  .header .menu-container:after {
    clear: both;
  }
  /* Logo */
  .header .logo .logo-img-main {
    display: none;
  }
  .header .logo .logo-img-active {
    display: inline-block;
  }
  /* Navbar Nav */
  .header .nav-item-child {
    color: #515769;
    line-height: 1.4;
    padding: 12px 12px 12px 15px;
  }
  .header .nav-item-hover:after {
    position: absolute;
    top: 19px;
  }
}

/* Media Queries below 767px */
@media (max-width: 767px) {
  /* Menu Container */
  .header .menu-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
    margin-right: 0;
  }
  .header .navbar > .container {
    width: auto;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .header .navbar > .container > .nav-collapse {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}


	

/* Page On Scroll */
@media (min-width: 992px) {
	
  /* Navbar */
  .header .navbar-nav-right {
    float: right;
  }
  #otsikko{
  font-weight: 700;
  font-family: Hind, sans-serif;
  line-height: 1.0;
  margin: 0 0 15px;
  font-size: 40px;
  }

  .page-on-scroll .header .navbar {
	background: rgba(254,254,254,1);
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(226,226,226,1)));
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2', GradientType=0 );
    border-bottom-color: #f0f0f0;
	border-bottom-width: 2px;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
  
  .testi{
	background: rgba(254,254,254,1);
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(226,226,226,1)));
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2', GradientType=0 );
    border-bottom-color: #f0f0f0;
	border-bottom-width: 2px;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }

  .page-on-scroll .header .nav-item-child {
    color: #515769;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
}

/*--------------------------------------------------
    [Back To Top Theme Button]
----------------------------------------------------*/
.back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: inline-block;
  z-index: 9;
  width: 40px;
  height: 40px;
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  line-height: 3;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #515769;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  padding: 5px;
  -webkit-transform: translate3d(0, 50px, 0);
  -moz-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.back-to-top:hover {
  color: #fff;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.back-to-top:focus, .back-to-top:hover {
  text-decoration: none;
}

/* The Button Becomes Visible */
.back-to-top.back-to-top-is-visible {
  visibility: visible;
  opacity: .6;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.back-to-top.back-to-top-is-visible:hover {
  opacity: 1;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* If the user keeps scrolling down, the button is out of focus and becomes less visible */
.back-to-top.back-to-top-fade-out {
  opacity: .4;
}

.back-to-top.back-to-top-fade-out:hover {
  opacity: 1;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* Media Queries below 768px */
@media (min-width: 768px) {

  .container-sm {
    width: 750px;
  }
}

/* Media Queries below 1200px */
@media (min-width: 1200px) {
  .container-sm {
    width: 970px;
  }
}

/*------------------------------------------------------------------
  	[Content]
------------------------------------------------------------------*/
.content {
  padding-top: 40px;
  padding-bottom: 40px;
}

.content-sm {
  padding-top: 60px;
  padding-bottom: 60px;
}

.content-md {
  padding-top: 80px;
  padding-bottom: 80px;
}

.content-lg {
  padding-top: 100px;
  padding-bottom: 100px;
}

/*------------------------------------------------------------------
  	[Margin]
------------------------------------------------------------------*/
/* Top */

.margin-t-8{
	margin-top: 8px!important;
}

.margin-t-12{
	margin-top: 12px!important;
}

.margin-t-24{
	margin-top: 24px!important;
}

.margin-t-30{
	margin-top: 30px!important;
	
}.margin-t-36{
	margin-top: 36px!important;
}

/* Bottom */

.margin-b-8{
	margin-bottom: 8px!important;
}

.margin-b-24{
	margin-bottom: 24px!important;
}

.margin-b-30{
	margin-bottom: 30px!important;
	
}

.margin-b-36{
	margin-bottom: 36px!important;
}
.margin-b-42{
	margin-bottom: 42px!important;
}
/*------------------------------------------------------------------
    [Full Width]
------------------------------------------------------------------*/
.full-width {
  width: 100%;
  height: auto;
}